{% extends 'CarDealerApp/base.html' %}
{% load static %}

{% block title %} Resultados de la búsqueda: {% endblock title %}

{% block main %}

        <div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
            <nav class="mb-3 pb-md-1 pt-md-3" aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-light">
                    <li class="breadcrumb-item">
                        <a href="{% url 'Home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="bread-active">Resultados de la búsqueda</a>
                    </li>
                </ol>
            </nav>

            {% if autos %}
            <div class="pb-1 mb-2">
                <h1 class="text-light me-3 mb-3">Resultados</h1>
                <h6 class="text-light pt-1">Todas las publicaciones en un solo lugar.</h6>
            </div>

            <div class="row full">
                
                {% for auto in autos %}
                <div class="card card-light card-hover card-horizontal mb-4">
                    <div class="tns-carousel-wrapper card-img-top card-img-hover">
                        <a class="img-overlay" 
                        {% if user.is_authenticated %}href="{% url 'DetalleAuto' auto.id %}"{% endif %}>
                        </a>

                        <div class="position-absolute start-0 top-0 pt-3 ps-3">
                            {% if auto.condicion == 'Usado' %}
                            <span class="d-table badge bg-usado bg-info condicion">{{ auto.condicion }}</span>
                            {% else %}
                            <span class="d-table badge bg-nuevo bg-info condicion">{{ auto.condicion }}</span>
                            {% endif %}
                        </div>

                        <div class="tns-carousel-inner img-auto-search">
                            {% if auto.imagen %}
                            <img src="{{ auto.imagen.url }}" alt="Auto">
                            {% else %}
                            <img src="{% static '/media/autos/generic_car.jpg' %}" alt="Auto">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between pb-1"><span
                                class="fs-sm text-light me-3">{{ auto.anio }}</span>
                        </div>
                        <h3 class="h6 mb-1"><a class="nav-link-light" href="{% url 'DetalleAuto' auto.id %}">{{ auto.marca }} {{ auto.modelo }}</a></h3>
                        <div class="text-primary fw-bold mb-1">$ {{ auto.precio }}</div>
                        <div class="fs-sm text-light opacity-70"><i class="fi-map-pin me-1"></i>{{ auto.localidad }}, {{ auto.provincia }}</div>

                        <div class="border-top border-light mt-3 pt-3">
                            <div class="row g-2">
                                <div class="col me-sm-1">
                                    <div class="bg-dark rounded text-center w-100 h-100 p-2"><i
                                            class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i><span
                                            class="fs-xs text-light">{{ auto.km }} km</span></div>
                                </div>
                                <div class="col me-sm-1">
                                    <div class="bg-dark rounded text-center w-100 h-100 p-2"><i
                                            class="fi-gearbox d-block h4 text-light mb-0 mx-center"></i><span
                                            class="fs-xs text-light">{{ auto.transmision }}</span></div>
                                </div>
                                <div class="col">
                                    <div class="bg-dark rounded text-center w-100 h-100 p-2"><i
                                            class="fi-petrol d-block h4 text-light mb-0 mx-center"></i><span
                                            class="fs-xs text-light">{{ auto.combustible }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No se encontraron resultados.</p>
            {% endif %}
        </div>

{% endblock main %}
